header,
nav,
.contain,
footer {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s ease;
}
header {
  position: fixed;
  top: 0;
  background-color: #a4ffa1;
  width: 100%;
}
.contain {
  background-color: AliceBlue ;
  height: 3000px;
}
footer {
  height: 30px;
  background-color: #0f0f0f;
}
.head-top {
  padding: 0 15px;
}
.head-top div {
  display: block;
  height: 100%;
  width: 10%;
}
.head-top .personal {
  float: left;
}
.head-top .logo {
  float: left;
}
.head-top .app-download {
  float: right;
}
.head-top .icon-email {
  float: right;
}
nav {
  position: fixed;
  width: 100%;
  background-color: #222;
}
