<div class="bar-fa">
	<div class="bar-ul-fa">
		<ul class="bar-ul list-inline">
			<li ng-repeat="b in bars | filter:{out:!true}">
				<a ng-href="#!/list/{{b.url}}" ng-click="aClick('a')">{{b.name}}</a>
			</li>
			<div class="shadow l"></div>
			<div class="shadow r"></div>
		</ul>
	</div>
	<div class="bar-slide-down text-center">
		<span class="glyphicon {{slideDownContent}}" ng-click="slideDown()"></span>
	</div>
</div>
<div class="slide-down-fa animated" ng-if="slideDownFaShow" style="height: {{h*(1- _b)}}px" data-id="slideDownFa">
	<ul class="list-unstyled list-inline">
		<li ng-repeat="b in bars | filter: {out:!true}">
			<a href="#!/list/{{b.url}}" ng-click="aClick('b')">{{b.name}}</a>
		</li>
	</ul>
	<hr>
	<ul class="list-unstyled list-inline  out-ul">
		<li ng-repeat="b in bars | filter: {out: true}">
			<a class="text-center" ng-href="{{b.url}}">
				<img class="img-responsive" ng-src="{{b.imgUrl}}" alt="">
				<span>{{b.name}}</span>
			</a>
		</li>
	</ul>
</div>


